{{define "customers.html"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <main class="wrapper">
        {{template "_header.html"}}
        <section class="container">
            <h3>{{ .title }}</h3>
            <button id="create-customer-btn">Create Customer</button>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $i,$value := .customers}}
                    <tr>
                        <td><a href="/admin/subscription/{{$value.ID}}/">{{$value.ID}}</a></td>
                        <td><a href="/admin/subscription/{{$value.ID}}/">{{$value.Name}}</a></td>
                        <td>{{$value.CreatedAt | formatAsDate}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>

        </section>

        <!-- Customer creation modal -->
        <div id="create-customer-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="create-customer-form">
                    <label for="customer-name">Customer Name:</label>
                    <input type="text" id="customer-name" name="customer-name">
                    <input type="submit" value="Create">
                </form>
            </div>
        </div>

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
        // Show customer creation modal when button is clicked
        $('#create-customer-btn').click(function() {
            $('#create-customer-modal').show();
        });

        // Hide customer creation modal when close button is clicked
        $('.close').click(function() {
            $('#create-customer-modal').hide();
        });

        // Handle form submission
        $('#create-customer-form').submit(function(event) {
            event.preventDefault();
            var customerName = $('#customer-name').val();
            $.ajax({
                url: '/admin/addCustomer',
                type: 'POST',
                data: JSON.stringify({
                    'name': customerName,
                    'status': true
                }),
                dataType: 'json',
                contentType: 'application/json',
                success: function(response) {
                    // Reload page to show new customer in table
                    location.reload();
                },
                error: function(error) {
                    console.log(error);
                }
            });
            
            
            
        });

        // Hide customer creation modal by default
        $('#create-customer-modal').hide();
    </script>
</body>

</html>
{{end}}
